/*Generales*/
.book-container-list {
  max-width: 1250px;
  margin: 20px auto;
}

.book-header {
  position: relative;
  padding: 20px 0px;
}

.book-button {
  position: absolute;
  right: 0;
  top: 20px;
}

.book-header h2 {
  font-size: 35px;
  margin: 0;
  font-weight: bold;
}

.book-button button {
  background: #f4f4f4;
  margin: 0px 8px;
  border: 0;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  color:#202020;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}


.btn-current, .book-button button:hover {
  background: #b6b6b6 !important;
}
#books-list-general{
  margin: 30px 0px;
  padding: 0;
}
/* book card */

.books-card {
  display: flex;
  gap: 21px;
  flex-flow: wrap;
}

.books-card .book {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #f9f9f9;
  flex: 1;
    flex-basis: 30%;
    max-width: calc(34.33% - 20px);
}

.books-card .book-image {
  margin-top: -40px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  min-width: 195px;
}

.books-card .book-image img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.books-card .book:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3);
}

.books-card .book:hover .book-image img {
  transform: scale(1.1);
}

/* book box */

.books-box {
  display: flex;
  gap: 21px;
  flex-flow: wrap;
}

.books-box .book {
  margin-top: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 12px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border-color: transparent;
  flex: 1;
  flex-basis: 25%;
  max-width: calc(20.2% - 20px);
}

.books-box .book::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.books-box .book-image {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.books-box .book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.books-box .book-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  top: 100%;
  transition: all 0.3s ease-in-out;
}
.books-box .book-content h3{
  color: white;
}
.books-box .book:hover .book-content {
  top: 0;
}

.book:hover::before {
  opacity: 0.5;
}

/* book list */

.books-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  
}

.books-list .book {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 18px;
}

.books-list .book-image {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.books-list .book-image img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}